spring:
  application:
    name: ${APPLICATION_NAME}

snowflake-settings:
  starting-epoch: ${STARTING_EPOCH}
  datacenter-id: ${DATACENTER_ID}
  worked-id: ${WORKED_ID}

kubernetes-settings:
  pod-name: ${POD_NAME}
  node-name: ${NODE_NAME}

management:
  endpoints:
    web:
      base-path: /management
      path-mapping:
        health: health
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
